
<div ng-if="showCreateOrEdit&&showDetails">
    <md-tabs md-selected="selectedIndex" flex>
        
        <md-tab label="timeInterval" md-on-select="redrawGrid('timeInterval')">
             <div ng-if="showTimeInterval" include-static='scheduler/views/timeInterval/timeIntervalCrud.html'></div>
        </md-tab>
        
        <md-tab label="recurrentTimeUnit" md-on-select="redrawGrid('recurrentTimeUnit')">
             <div ng-if="showRecurrentTimeUnit" include-static='scheduler/views/recurrentTimeUnit/recurrentTimeUnitCrud.html'></div>
        </md-tab>
        
    </md-tabs>
</div>









