<div class="container-fluid expanded-panel">
    <div class="panel panel-default  md-whiteframe-z1">
        <div class="panel-heading">{{functionality}}</div>

        <div class="panel-body"  ng-controller="RecurrentMinuteController">
            <div  include-static='scheduler/views/recurrentMinute/recurrentMinuteGrid.html'></div>
            <div  include-static='scheduler/views/recurrentMinute/recurrentMinuteForm.html'></div>
            <div  include-static='scheduler/views/recurrentMinute/recurrentMinuteDetails.html'></div>
        </div>
    </div>
</div>