<div ng-show="showCreateOrEdit">
    <form name="formCreateOrEdit" role="form"
          ng-submit="createOrUpdate()">

        <input type="hidden" name="id"
               ng-model="schedulableJob.id" readonly>

        
        <md-input-container>
            <label>Name</label>
            <input type="text" name="schedulableJob_name"
                   ng-model="schedulableJob.name">
        </md-input-container>
        
        <md-input-container>
            <label>Options</label>
            <input type="text" name="schedulableJob_options"
                   ng-model="schedulableJob.options">
        </md-input-container>
        
        <md-input-container>
            <label>NextScheduledExecution</label>
            <input type="datetime-local" name="schedulableJob_nextScheduledExecution"
                   ng-model="schedulableJob.nextScheduledExecution">
        </md-input-container>
        
        <md-input-container>
            <label>LastExecutionTime</label>
            <input type="datetime-local" name="schedulableJob_lastExecutionTime"
                   ng-model="schedulableJob.lastExecutionTime">
        </md-input-container>
        
        <md-input-container>
            <label>LastExecutionState</label>
            <input type="text" name="schedulableJob_lastExecutionState"
                   ng-model="schedulableJob.lastExecutionState">
        </md-input-container>
        


        
        <md-select ng-model="schedulableJob.task.id"
                   placeholder="task">
            <md-option ng-value="task.id"
                       ng-repeat="task in tasks">
                {{ task.code}}
            </md-option>
        </md-select>

        <br/><br/>

        <button type="button" class="btn btn-default" ng-click="back()">
            <span class="md-raised"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="formCreateOrEdit.$invalid" class="btn btn-default">
            <span class="md-raised"></span>&nbsp;<span>Save</span>
        </button>
    </form>
</div>
<div>
    <div class="modal fade" id="deleteSchedulableJobConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this row ?</p>
                    </div>
                    <div class="modal-footer">
                        <section layout="row" layout-sm="column" layout-align="right">
                            <md-button class="md-raised" data-dismiss="modal" ng-click="back()">Cancel
                            </md-button>
                            <md-button type="submit" class="md-raised" ng-disabled="form.$invalid">Delete
                            </md-button>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>