<div class="container-fluid expanded-panel">
    <div class="panel panel-default  md-whiteframe-z1">
        <div class="panel-heading">{{functionality}}</div>

        <div class="panel-body"  ng-controller="SchedulableJobController">
            <div  include-static='scheduler/views/schedulableJob/schedulableJobGrid.html'></div>
            <div  include-static='scheduler/views/schedulableJob/schedulableJobForm.html'></div>
            <div  include-static='scheduler/views/schedulableJob/schedulableJobDetails.html'></div>
        </div>
    </div>
</div>