<div ng-show="showCreateOrEdit">
    <form name="formCreateOrEdit" role="form"
          ng-submit="createOrUpdate()">

        <input type="hidden" name="id"
               ng-model="task.id" readonly>

        
        <md-input-container>
            <label>QueuePosition</label>
            <input type="number" name="task_queuePosition"
                   ng-model="task.queuePosition">
        </md-input-container>
        
        <md-input-container>
            <label>Options</label>
            <input type="text" name="task_options"
                   ng-model="task.options">
        </md-input-container>
        


        
        <md-select ng-model="task.scheduledJob"
                   placeholder="scheduledJob">
            <md-option ng-value="{id: scheduledJob.id, version: scheduledJob.version}"
                       ng-repeat="scheduledJob in scheduledJobs">
                {{ scheduledJob.id}}
            </md-option>
        </md-select>

        <br/><br/>

        <button type="button" class="btn btn-default" ng-click="back()">
            <span class="md-raised"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="formCreateOrEdit.$invalid" class="btn btn-default">
            <span class="md-raised"></span>&nbsp;<span>Save</span>
        </button>
    </form>
</div>
<div>
    <div class="modal fade" id="deleteTaskConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this row ?</p>
                    </div>
                    <div class="modal-footer">
                        <section layout="row" layout-sm="column" layout-align="right">
                            <md-button class="md-raised" data-dismiss="modal" ng-click="back()">Cancel
                            </md-button>
                            <md-button type="submit" class="md-raised" ng-disabled="form.$invalid">Delete
                            </md-button>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>