<div class="row">
    <div class="col-sm-3">
        <p> Select months </p>
        <button class="btn btn-default" type="button" ng-class="{'btn-raised':true, 'btn-primary': (monthButton.pushed || allMonthsButton.pushed)}" style="width:100px"
                   ng-click="selectMonth(monthButton.id-1)"
                   ng-repeat="monthButton in monthsButtons">{{monthButton.text}}
        </button>

        <button class="btn btn-default" type="button" ng-class="{'btn-raised':true, 'btn-primary': allMonthsButton.pushed}"
                   style="width:100px"
                   ng-click="selectAllMonths()">Select all
        </button>
    </div>
    <div class="col-sm-3">
        <p> Select month days </p>
        <button class="btn btn-default" type="button" ng-class="{'btn-raised':true, 'btn-primary': (monthDayButton.pushed || allMonthDaysButton.pushed)}" style="width:40px"
                   ng-click="selectMonthDay(monthDayButton.id-1)"
                   ng-repeat="monthDayButton in monthDaysButtons">{{monthDayButton.id}}
        </button>

        <button class="btn btn-default" type="button" ng-class="{'btn-raised':true, 'btn-primary': allMonthDaysButton.pushed}"
                   style="width:100px"
                   ng-click="selectAllMonthDays()">Select all
        </button>
    </div>
    <div class="col-sm-3">
        <p> Select week days </p>
        <button class="btn btn-default" type="button" ng-class="{'btn-raised':true, 'btn-primary': (weekDayButton.pushed || allWeekDaysButton.pushed)}" style="width:100px"
                   ng-click="selectWeekDay(weekDayButton.id-1)"
                   ng-repeat="weekDayButton in weekDaysButtons">{{weekDayButton.text}}
        </button>

        <button class="btn btn-default" type="button" ng-class="{'btn-raised':true, 'btn-primary': allWeekDaysButton.pushed}"
                   style="width:100px"
                   ng-click="selectAllWeekDays()">Select all
        </button>
    </div>
    <div class="col-sm-3">
        <p> Select hours </p>
        <button class="btn btn-default" type="button" ng-class="{'btn-raised':true, 'btn-primary': (hourButton.pushed || allHoursButton.pushed)}" style="width:40px"
                   ng-click="selectHour(hourButton.id)"
                   ng-repeat="hourButton in hoursButtons">{{hourButton.id}}
        </button>

        <button class="btn btn-default" type="button" ng-class="{'btn-raised':true, 'btn-primary': allHoursButton.pushed}" style="width:100px"
                   ng-click="selectAllHours()">Select all
        </button>
    </div>
</div>