<div ng-show="showGrid">
    <app-grid
            id="appGrid.id"
            url="appGrid.url"
            column-metadata="appGrid.columnMetadata"
            title="appGrid.title"
            refresh-event="refreshEvent"
            refresh-function="refreshFunction"
            search-terms="searchTerms"
            custom-options="customOptions"
            action-event="actionEvent"
            get-selected="selected">
    </app-grid>
    <section layout="row" layout-sm="column" layout-align="right">
        <md-button class="md-raised" ng-click="showAdd()">Adauga</md-button>
        <md-button class="md-raised" ng-click="showEdit()" ng-show="showBtns">Editeaza</md-button>
        <md-button class="md-raised" ng-click="showDelete()" ng-show="showBtns">Sterge</md-button>
    </section>
</div>
