<div class="container-fluid expanded-panel">
    <div class="panel panel-default  md-whiteframe-z1">
        <div class="panel-heading">{{functionality}}</div>

        <div class="panel-body"  ng-controller="ScheduleController">
            <div  include-static='scheduler/views/schedule/scheduleGrid.html'></div>
            <div  include-static='scheduler/views/schedule/scheduleForm.html'></div>
            <div  include-static='scheduler/views/schedule/scheduleDetails.html'></div>
        </div>
    </div>
</div>