<div ng-show="showCreateOrEdit">
    <form name="formCreateOrEdit" role="form"
          ng-submit="createOrUpdate()">

        <input type="hidden" name="id"
               ng-model="schedule.id" readonly>

        
        <md-input-container>
            <label>Active</label>
            <input type="checkbox" name="schedule_active"
                   ng-model="schedule.active">
        </md-input-container>
        
        <md-input-container>
            <label>Recurrent</label>
            <input type="checkbox" name="schedule_recurrent"
                   ng-model="schedule.recurrent">
        </md-input-container>
        
        <md-input-container>
            <label>Cron</label>
            <input type="text" name="schedule_cron"
                   ng-model="schedule.cron">
        </md-input-container>
        
        <md-input-container>
            <label>StartTime</label>
            <input type="datetime-local" name="schedule_startTime"
                   ng-model="schedule.startTime">
        </md-input-container>
        
        <md-input-container>
            <label>EndTime</label>
            <input type="datetime-local" name="schedule_endTime"
                   ng-model="schedule.endTime">
        </md-input-container>
        
        <md-input-container>
            <label>Repetitions</label>
            <input type="number" name="schedule_repetitions"
                   ng-model="schedule.repetitions">
        </md-input-container>
        
        <md-input-container>
            <label>Years</label>
            <input type="text" name="schedule_years"
                   ng-model="schedule.years">
        </md-input-container>
        
        <md-input-container>
            <label>DaysInMonth</label>
            <input type="text" name="schedule_daysInMonth"
                   ng-model="schedule.daysInMonth">
        </md-input-container>
        
        <md-input-container>
            <label>Hours</label>
            <input type="text" name="schedule_hours"
                   ng-model="schedule.hours">
        </md-input-container>
        
        <md-input-container>
            <label>Minutes</label>
            <input type="text" name="schedule_minutes"
                   ng-model="schedule.minutes">
        </md-input-container>
        


        
        <md-select ng-model="schedule.timeInterval.id"
                   placeholder="timeInterval">
            <md-option ng-value="timeInterval.id"
                       ng-repeat="timeInterval in timeIntervals">
                {{ timeInterval.name}}
            </md-option>
        </md-select>

        <br/><br/>
        <div class="form-group">
            <label>month</label>
            <select class="form-control" multiple ng-model="schedule.months"
                    ng-options="month as month.name for month in months track by month.id">
            </select>
        </div>
        
        <div class="form-group">
            <label>dayOfWeek</label>
            <select class="form-control" multiple ng-model="schedule.dayOfWeeks"
                    ng-options="dayOfWeek as dayOfWeek.name for dayOfWeek in dayOfWeeks track by dayOfWeek.id">
            </select>
        </div>
        

        <button type="button" class="btn btn-default" ng-click="back()">
            <span class="md-raised"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="formCreateOrEdit.$invalid" class="btn btn-default">
            <span class="md-raised"></span>&nbsp;<span>Save</span>
        </button>
    </form>
</div>
<div>
    <div class="modal fade" id="deleteScheduleConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this row ?</p>
                    </div>
                    <div class="modal-footer">
                        <section layout="row" layout-sm="column" layout-align="right">
                            <md-button class="md-raised" data-dismiss="modal" ng-click="back()">Cancel
                            </md-button>
                            <md-button type="submit" class="md-raised" ng-disabled="form.$invalid">Delete
                            </md-button>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>