<div ng-show="showCreateOrEdit">
    <form name="formCreateOrEdit" role="form" ng-submit="createOrUpdate()" novalidate>

        <input type="hidden" name="id"
               ng-model="schedule.id" readonly>

        <br>
        <div class="form-inline">
            <label class="my-md-label"> Selecteaza job : </label>

            <ui-select name="job_selector"
                       ng-model="schedule.scheduledJob"
                       theme="selectize"
                       style="width: 300px;" >

                <ui-select-match placeholder="Job selectat">
                    {{$select.selected.name}}
                </ui-select-match>

                <ui-select-choices repeat="scheduledJob in scheduledJobs  | filter: $select.search">
                    <div ng-bind-html="scheduledJob.name | highlight: $select.search"></div>
                </ui-select-choices>

            </ui-select>
        </div>

        <br>

        <hr class="divider"/>

        <br>

        <div class="form-group">
            <label class="my-md-label"> Optiuni job : </label>

            <md-input-container>
                <md-checkbox class="md-primary" type="checkbox" name="schedule_active" ng-model="schedule.active"
                             checked>
                    Activ
                </md-checkbox>
            </md-input-container>

            <md-input-container>
                <md-checkbox class="md-primary" type="checkbox" name="schedule_recurrent" ng-click="toggleRecurrent()" ng-model="schedule.recurrent">
                    Recurent
                </md-checkbox>
            </md-input-container>
        </div>

        <hr class="divider"/>

        <br>

        <div class="form-group">
            <div class="non-recurrent-job" ng-if="!schedule.recurrent">
                <label class="my-md-label"> Optiuni de executie : </label>
                <md-input-container style="width:30%">
                    <label>Timpul de inceput al executie</label>
                    <input type="datetime-local" name="schedule_startTime"
                           min="{{getCurrentDate() | date: 'yyyy-MM-ddTHH:mm'}}" ng-model="schedule.startTime"
                           ng-required="!schedule.recurrent">
                </md-input-container>
                <p ng-show="formCreateOrEdit.schedule_startTime.$invalid && !formCreateOrEdit.schedule_startTime.$pristine"
                   class="alert-danger"> Data de inceput a executiei trebuie sa fie mai mare decat data curenta!</p>

            </div>

            <div class="recurrent-job" ng-if="schedule.recurrent">
                <label class="my-md-label"> Optiuni de repetitie : </label>

                <div layout="" layout-sm="column">

                    <md-input-container style="width:33%; margin:10px;">
                        <label>Timpul de inceput al executiei</label>
                        <input type="datetime-local" name="schedule_startTime"
                               ng-model="schedule.startTime" ng-required="schedule.recurrent">
                    </md-input-container>

                    <md-input-container style="width:33%; margin:10px;">
                        <label>Timpul de incheiere(optional) </label>
                        <input type="datetime-local" name="schedule_endTime"
                               min="{{getCurrentDate() | date: 'yyyy-MM-ddTHH:mm'}}" ng-model="schedule.endTime">
                    </md-input-container>

                    <md-input-container style="width:33%; margin:10px;">
                        <label>Numar de repetitii(optional)</label>
                        <input type="number" name="schedule_repetitions" min="0" ng-model="schedule.repetitions">
                    </md-input-container>
                </div>

                <p ng-show="formCreateOrEdit.schedule_endTime.$invalid && !formCreateOrEdit.schedule_endTime.$pristine"
                   class="alert-danger"> Data de incheiere trebuie sa fie mai mare decat data curenta!</p>

                <div class="form-inline">
                    <span class="my-md-label"> Selecteaza tipul de repetitie : </span>

                    <select name="repetition_selector" ng-change="changeRepetitionType()" ng-model="selectedRepetitionType" class="form-control"
                            ng-options="repetitionType.name for repetitionType in repetitionTypes track by repetitionType.id">
                    </select>
                </div>
            </div>
        </div>

        <hr class="divider"/>

        <br>

        <div class="form-group" ng-show="schedule.recurrent">

            <div class="regular-intervals" ng-show="regularIntervals">
                <label class="my-md-label"> Optiuni intervale regulate : </label>
                <br><br>

                <div class="form-inline">
                    <span class="my-md-label"> Selecteaza interval : </span>
                    <select ng-model="schedule.timeInterval" class="form-control"
                            ng-options="timeInterval.name group by timeInterval.custom for timeInterval in timeIntervals track by timeInterval.id">
                    </select>
                </div>

                <md-switch class="md-primary" md-no-ink="" ng-model="customDefinedIntervals">
                    Creaza interval de timp personalizat
                </md-switch>

                <br>

                <div class="row" ng-show="customDefinedIntervals">
                    <div class="col-lg-4">
                        <md-whiteframe class="md-whiteframe-z2" layout="" layout-align="center center">
                                <div ng-include="'scheduler/views/schedule/createIntervalForm.html'"></div>
                        </md-whiteframe>
                    </div>
                </div>
            </div>


            <div class="custom-fire-times" ng-show="!regularIntervals">
                <label class="my-md-label"> Custom fire times options : </label>
                <br><br>

                <div class="custom_fire_times" ng-include="'scheduler/views/schedule/customFireTimes.html'"></div>
            </div>
        </div>


        <br/><br/>
        <br/><br/>

        <div class="row" style="text-align: center">
            <button type="button" class="btn btn-default" ng-click="back()">
                <span class="md-raised"></span>&nbsp;<span>Anuleaza</span>
            </button>
            <button type="submit"
                    ng-disabled="formCreateOrEdit.$invalid || (!formCreateOrEdit.$invalid && schedule.recurrent && !regularIntervals &&  (nrSelectedCustom <= 0))"
                    class="btn btn-default">
                <span class="md-raised"></span>&nbsp;<span>Salveaza</span>
            </button>
        </div>
    </form>
</div>

<div>
    <div class="modal fade" id="deleteScheduleConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirma operatia de stergere</h4>
                    </div>
                    <div class="modal-body">
                        <p>Esti sigur ca vrei sa stergi aceasta intrare ?</p>
                    </div>
                    <div class="modal-footer">
                        <section layout="row" layout-sm="column" layout-align="right">
                            <md-button class="md-raised" data-dismiss="modal" ng-click="back()">Anuleaza
                            </md-button>
                            <md-button type="submit" class="md-raised" ng-disabled="form.$invalid">Sterge
                            </md-button>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>