<div class="alert alert-success" ng-show="save.success" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <strong>{{functionality}} saved!</strong>
</div>
<div class="alert alert-danger" ng-show="save.error">
    <strong>An error has occurred!</strong> {{functionality}} could not be saved.
</div>
<div ng-show="showCreateOrEdit">
    <form name="formCreateOrEdit" role="form" ng-submit="createOrUpdate()" novalidate>

        <input type="hidden" name="id" ng-model="schedule.id" readonly>

        <div ng-hide="hideScheduledJobsSelector">
            <div class="row m0">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label> Selecteaza job : </label>

                        <ui-select name="job_selector"
                                   ng-model="schedule.scheduledJob"
                                   theme="selectize" required>
                            <ui-select-match placeholder="Job selectat">
                                {{$select.selected.name}}
                            </ui-select-match>

                            <ui-select-choices repeat="scheduledJob in scheduledJobs  | filter: $select.search">
                                <div ng-bind-html="scheduledJob.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider"/>

        <div class="row m0">
            <label> Optiuni job </label>
        </div>

        <div class="row m0">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label> In cazul neexecutarii: </label>

                    <ui-select name="misfire_selector"
                               ng-model="schedule.misfirePolicy"
                               theme="selectize" required>
                        <ui-select-match placeholder="Cazul selectat">
                            {{$select.selected.description}}
                        </ui-select-match>

                        <ui-select-choices
                                repeat="misfirePolicy.code as misfirePolicy in misfirePolicies | filter: $select.search">
                            <div ng-bind-html="misfirePolicy.description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row m0">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="checkbox-container">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <input id="active" type="checkbox" value="activ" ng-model="schedule.active" checked>
                            <label class="custom-select" for="active">Activ</label>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <input id="recurent" type="checkbox" value="recurent" ng-click="toggleRecurrent()"
                                   ng-model="schedule.recurrent">
                            <label class="custom-select" for="recurent">Recurent</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider"/>

        <div class="row m0" ng-show="!schedule.recurrent">
            <label> Optiuni de executie </label>
        </div>

        <div class="non-recurrent-job" ng-show="!schedule.recurrent">
            <div class="row m0">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="dropdown" ng-if="!schedule.recurrent">
                            <div class="datepicker">
                                <label>Timpul de inceput al executiei:</label>
                                <a id="schedule_startTime" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                   data-target="#" href="#" required>
                                    <div class="input-group">
                                        <div class="form-control" data-ng-model="schedule.startTime"
                                             ng-required="!schedule.recurrent">{{schedule.startTime
                                            | date:"dd/MM/yyyy H:mm"}}
                                        </div>
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i> </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="schedule.startTime"
                                                    data-on-set-time="guardianOnSetTime(newDate)"
                                                    data-datetimepicker-config="{ dropdownSelector: '#schedule_startTime' }"
                                                    ng-required="true"></datetimepicker>
                                </ul>

                                <p ng-show="!formCreateOrEdit.schedule_startTime.$pristine && checkIfDateIsCorrect"
                                   class="alert-danger"> Data de inceput a executiei trebuie sa fie mai mare decat data
                                    curenta!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m0" ng-show="schedule.recurrent">
            <label> Optiuni de repetitie </label>
        </div>

        <div class="form-group">
            <div class="recurrent-job" ng-show="schedule.recurrent">
                <div class="form-group"
                     ng-class="{'has-success':formCreateOrEdit.schedule_endTime.$invalid && !formCreateOrEdit.schedule_endTime.$pristine,
                     'has-error':formCreateOrEdit.schedule_endTime.$invalid && !formCreateOrEdit.schedule_endTime.$pristine}">

                    <div class="row m0">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="dropdown" ng-if="schedule.recurrent">
                                <div class="datepicker">
                                    <label>Timpul de inceput al executiei:</label>
                                    <a id="schedule_startTime2" class="dropdown-toggle" role="button"
                                       data-toggle="dropdown"
                                       data-target="#" href="#">
                                        <div class="input-group">
                                            <div class="form-control" data-ng-model="schedule.startTime"
                                                 ng-required="schedule.recurrent">
                                                {{schedule.startTime
                                                | date:"dd/MM/yyyy H:mm"}}
                                            </div>
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i> </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="schedule.startTime"
                                                        data-on-set-time="guardianOnSetTime(newDate)"
                                                        data-datetimepicker-config="{ dropdownSelector: '#schedule_startTime2' }"
                                                        ng-required="true"></datetimepicker>
                                    </ul>
                                    <p ng-show="checkIfDateIsCorrect && !formCreateOrEdit.schedule_startTime2.$pristine"
                                       class="alert-danger"> Data de inceput a executiei trebuie sa fie mai mare decat
                                        data
                                        curenta!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="dropdown" ng-if="schedule.recurrent">
                                <div class="datepicker">
                                    <label>Timpul de incheiere(optional):</label>
                                    <a id="schedule_endTime" class="dropdown-toggle" role="button"
                                       data-toggle="dropdown"
                                       data-target="#" href="#">
                                        <div class="input-group">
                                            <div class="form-control">
                                                {{schedule.endTime |
                                                date:"dd/MM/yyyy H:mm"}}
                                            </div>
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i> </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="schedule.endTime"
                                                        data-on-set-time="checkStartTimeAndEndTime(newDate)"
                                                        data-datetimepicker-config="{ dropdownSelector: '#schedule_endTime' }"
                                                        ng-required="schedule.recurrent"></datetimepicker>
                                    </ul>
                                </div>
                                <p ng-show="checkIfEndDateIsAfterStartDate && !formCreateOrEdit.schedule_endTime.$pristine"
                                   class="alert-danger"> Data de incheiere trebuie sa fie mai mare decat data
                                    de inceput!</p>
                            </div>
                        </div>
                    </div>

                    <div class="row m0">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Numar de repetitii(optional):</label>
                                <input type="number" name="schedule_repetitions" min="0" class="form-control"
                                       ng-model="schedule.repetitions"/>
                                <span ng-show="formCreateOrEdit.schedule_repetitions.$error.number">Valoarea introdusa nu reprezinta un numar!</span>
                            </div>
                        </div>
                    </div>

                    <div class="row m0">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label> Selecteaza tipul de repetitie : </label>

                                <ui-select name="repetition_selector"
                                           ng-model="selectedRepetitionType.selected"
                                           theme="selectize"
                                           on-select="changeRepetitionType()">
                                    <ui-select-match placeholder="Cazul selectat">
                                        {{$select.selected.name}}
                                    </ui-select-match>

                                    <ui-select-choices
                                            repeat="repetitionType.name as repetitionType in repetitionTypes | filter: $select.search">
                                        <div ng-bind-html="repetitionType.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider"/>

        <div class="form-group" ng-show="schedule.recurrent">
            <div class="row m0">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="regular-intervals" ng-show="regularIntervals">
                            <div class="form-group">
                                <label>Selecteaza interval:</label>

                                <ui-select name="interval_selector"
                                           ng-model="schedule.timeInterval"
                                           theme="selectize">
                                    <ui-select-match placeholder="Cazul selectat">
                                        {{$select.selected.name}}
                                    </ui-select-match>

                                    <ui-select-choices grup-by="timeInterval.custom ? 'Intervale personalizate' : false"
                                                       repeat="timeInterval.name as timeInterval in timeIntervals | filter: $select.search">
                                        <div ng-bind-html="timeInterval.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="regularIntervals">
                <div class="row m0">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="checkbox-container">
                                <input id="createInterval" type="checkbox" value="creaza"
                                       ng-model="customDefinedIntervals">
                                <label class="custom-select" for="createInterval">Creaza interval de timp
                                    personalizat</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m0" ng-show="customDefinedIntervals">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div layout="" layout-align="center center">
                            <div ng-include="'scheduler/views/schedule/createIntervalForm.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-fire-times" ng-show="!regularIntervals">
            <label>Custom fire times options</label>

            <div class="custom_fire_times" ng-include="'scheduler/views/schedule/customFireTimes.html'"></div>
        </div>

        <br/><br/>
        <br/><br/>

        <div class="row" style="text-align: center">
            <button type="button" class="btn btn-default" ng-click="back()">
                <span class="md-raised"></span>&nbsp;<span>Anuleaza</span>
            </button>
            <button type="submit"
                    ng-disabled="formCreateOrEdit.$invalid || (!formCreateOrEdit.$invalid && schedule.recurrent && !regularIntervals && checkInputsByGroup())"
                    class="btn btn-default">
                <span class="md-raised"></span>&nbsp;<span>Salveaza</span>
            </button>
        </div>
    </form>
</div>

<div>
    <div class="modal fade" id="deleteScheduleConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirma operatia de stergere</h4>
                    </div>
                    <div class="modal-body">
                        <p>Esti sigur ca vrei sa stergi aceasta intrare ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row m0">
                            <div class="col-md-12 text-right mb15">
                                <button class="btn btn-primary"
                                        data-dismiss="modal"
                                        ng-click="back()">
                                    Anuleaza
                                </button>
                                <button class="btn btn-danger"
                                        type="submit"
                                        ng-disabled="form.$invalid">
                                    Sterge
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>