<div class="container-fluid expanded-panel">
    <div class="panel panel-default  md-whiteframe-z1">
        <div class="panel-heading">{{functionality}}</div>

        <div class="panel-body"  ng-controller="ScheduleControllerOk">
            <div  include-static='scheduler/views/scheduleOk/scheduleGrid.html'></div>
            <div  include-static='scheduler/views/scheduleOk/scheduleForm.html'></div>
            <div  include-static='scheduler/views/scheduleOk/scheduleDetails.html'></div>
        </div>
    </div>
</div>