<div class="container-fluid expanded-panel">
    <div class="panel panel-default  md-whiteframe-z1">
        <div class="panel-heading">{{functionality}}</div>

        <div class="panel-body"  ng-controller="RecurrentDayController">
            <div  include-static='scheduler/views/recurrentDay/recurrentDayGrid.html'></div>
            <div  include-static='scheduler/views/recurrentDay/recurrentDayForm.html'></div>
            <div  include-static='scheduler/views/recurrentDay/recurrentDayDetails.html'></div>
        </div>
    </div>
</div>