
<div ng-if="showCreateOrEdit && showDetails">
    <md-tabs md-selected="selectedIndex" flex>
        
        <md-tab label="schedule" md-on-select="redrawGrid('schedule')">
             <div ng-if="showSchedule" include-static='scheduler/views/schedule/scheduleCrud.html'></div>
        </md-tab>
        
        <md-tab label="scheduledJobExecution" md-on-select="redrawGrid('scheduledJobExecution')">
             <div ng-if="showScheduledJobExecution" include-static='scheduler/views/scheduledJobExecution/scheduledJobExecutionCrud.html'></div>
        </md-tab>
        
    </md-tabs>
</div>









