
<div ng-if="showCreateOrEdit && showDetails">
    <md-tabs md-selected="selectedIndex" flex>
        
        <md-tab label="schedule" md-on-select="redrawGrid('schedule')">
             <div ng-if="showSchedule" include-static='scheduler/views/schedule/scheduleCrud.html'></div>
        </md-tab>
        
        <md-tab label="task" md-on-select="redrawGrid('task')">
             <div ng-if="showTask" include-static='scheduler/views/task/taskCrud.html'></div>
        </md-tab>
        
    </md-tabs>
</div>









