<div class="container-fluid expanded-panel">
    <div class="panel panel-default  md-whiteframe-z1">
        <div class="panel-heading">{{functionality}}</div>

        <div class="panel-body"  ng-controller="ScheduledJobController">
            <div  include-static='scheduler/views/scheduledJob/scheduledJobGrid.html'></div>
            <div  include-static='scheduler/views/scheduledJob/scheduledJobForm.html'></div>
            <div  include-static='scheduler/views/scheduledJob/scheduledJobDetails.html'></div>
        </div>
    </div>
</div>