<div ng-show="showGrid">
    <div class="row m0">
        <div class="col-md-12 text-left mb15">
            <app-grid
                    url="appGrid.url"
                    column-metadata="appGrid.columnMetadata"
                    title="appGrid.title"
                    refresh-event="refreshEvent"
                    refresh-function="refreshFunction"
                    search-terms="searchTerms"
                    custom-options="customOptions"
                    action-event="actionEvent"
                    get-selected="selected">
            </app-grid>
        </div>
    </div>
    <div class="row m0">
        <div class="col-md-12 text-right mb15">
            <button class="btn btn-primary"
                    ng-click="showAdd()">
                Adauga
            </button>
            <button class="btn btn-info"
                    ng-show="showBtns"
                    ng-click="showEdit()">
                Editeaza
            </button>
            <button class="btn btn-danger"
                    ng-show="showBtns"
                    ng-click="showDelete()">
                Sterge
            </button>
        </div>
    </div>
</div>
